@model IEnumerable<Practice_Wesite_Admin.Models.SubSubCategory>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<label for="inputAddress" class="col-md-12" style="background-color:transparent">Select Sub Sub Category : </label>
@Html.DropDownList("SubSubCategories", new SelectList(Model, "SubSubCategoryID", "SubsUBCategoryName"), new { @class = "form-control col-md-12", @id = "sub_sub_cat",@style="background-color:transparent" })
@Html.ActionLink("Add New Sub Sub Category", "Create", "SubSubCategories",null, new { @class = "btn btn-link col-md-12 inline-block",@style="color:#018A9A" })